# Ignore back-up files.
*~
*.tgz

# Exclude IDE files
/.idea/*
.vscode
.DS_Store

# Exclude config files
charts/timesketch/configs
turbinia.conf

# Exclude sub charts
charts/osdfir-infrastructure/charts/