# Ignore back-up files.
*~
*.tgz

# Exclude IDE files
/.idea/*
.vscode
.DS_Store

# Exclude config files
charts/timesketch/configs
turbinia.conf
charts/openrelik/templates/configmap
charts/openrelik/settings.toml

# Exclude sub charts
charts/osdfir-infrastructure/charts/

**/.terraform/*
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
