apiVersion: v2
name: timesketch
version: 2.3.2
description: A Helm chart for Timesketch Kubernetes deployments.
keywords:
- timesketch
- dfir
- analysis
- security
home: "https://timesketch.org/"
maintainers:
  - name: Open Source DFIR
    email: osdfir-maintainers@googlegroups.com
    url: https://github.com/google/osdfir-infrastructure
sources:
- https://github.com/google/timesketch
- https://github.com/google/osdfir-infrastructure
icon: https://raw.githubusercontent.com/google/timesketch/master/timesketch/frontend-ng/dist/timesketch-color.png
appVersion: "20250828"
annotations:
  category: Security
  licenses: Apache-2.0
