apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-openrelik-frontend
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app.kubernetes.io/component: frontend
    {{- include "openrelik.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: frontend
      {{- include "openrelik.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: frontend
        {{- include "openrelik.selectorLabels" . | nindent 8 }}
    spec:
      hostNetwork: false
      hostIPC: false
      automountServiceAccountToken: false
      {{- if .Values.config.enableServiceAccount }}
      serviceAccountName: openrelik
      {{- end }}
      containers:
        - name: frontend
          image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
          imagePullPolicy: {{ .Values.config.imagePullPolicy }}
          env:
            - name: OPENRELIK_SERVER_URL
              {{- if .Values.global.ingress.openRelikAPIHost }}
              value: https://{{ .Values.global.ingress.openRelikAPIHost }}
              {{- else }}
              value: http://localhost:8710
              {{- end }}
            - name: OPENRELIK_API_VERSION
              value: v1
            - name: OPENRELIK_AUTH_METHODS
              {{- if .Values.config.oidc.enabled }}
              value: google
              {{- else }}
              value: local
              {{- end }}
            {{- if .Values.frontend.env }}
              {{- toYaml .Values.frontend.env | nindent 12 }} 
            {{- end }}
          volumeMounts:
            - mountPath: /mnt/openrelikvolume
              name: openrelikvolume
          ports:
            - containerPort: 8711
          resources:
            {{- toYaml .Values.frontend.resources | nindent 12 }}
      volumes:
        - name: openrelikvolume
          persistentVolumeClaim:
            {{- if .Values.persistence.existingPVC }}
            claimName: {{ .Values.persistence.existingPVC }}
            {{- else }}
            claimName: {{ .Release.Name }}-openrelikvolume-claim
            {{- end }}
            readOnly: false
      {{- with .Values.frontend.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}