{{- if .Values.redis.flower.enabled }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}-openrelik-flower
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app.kubernetes.io/component: flower
    {{- include "openrelik.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: flower
      {{- include "openrelik.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: flower
        {{- include "openrelik.selectorLabels" . | nindent 8 }}
    spec:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: Always
      hostNetwork: false
      hostIPC: false
      automountServiceAccountToken: false
      containers:
        - name: flower
          image:  "{{ .Values.redis.flower.image }}"
          imagePullPolicy: IfNotPresent
          command: ["sh", "-c", "celery --broker=redis://default:$REDIS_PASSWORD@{{ .Release.Name }}-openrelik-redis:6379 flower --persistent=True --db=/data/flower_db"]
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            readOnlyRootFilesystem: true
            runAsGroup: 1000
            runAsNonRoot: true
            runAsUser: 1000
            seLinuxOptions: {}
            seccompProfile:
              type: RuntimeDefault
          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-openrelik-secret 
                  key: redis-user
            - name: FLOWER_UNAUTHENTICATED_API
              value: "True"
          volumeMounts:
            - mountPath: /data
              name: data
          ports:
            - containerPort: 5555
          resources:
            {{- toYaml .Values.redis.resources | nindent 12 }}
      {{- with .Values.redis.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: {{ .Values.redis.flower.persistence.size }}
{{- end }}