apiVersion: v2
name: timesketch
version: 1.0.2
description: A Helm chart for Timesketch Kubernetes deployments.
keywords:
- timesketch
- dfir
- analysis
- security
home: "https://timesketch.org/"
dependencies:
- condition: postgresql.enabled
  name: postgresql
  version: 12.11.1
  repository: https://charts.bitnami.com/bitnami
- condition: redis.enabled
  name: redis
  version: 18.0.4
  repository: https://charts.bitnami.com/bitnami
- condition: opensearch.enabled
  name: opensearch
  version: 2.14.1
  repository: https://opensearch-project.github.io/helm-charts/
maintainers:
  - name: Open Source DFIR
    email: osdfir-maintainers@googlegroups.com
    url: https://github.com/google/osdfir-infrastructure
sources:
- https://github.com/google/timesketch
- https://github.com/google/osdfir-infrastructure
icon: https://raw.githubusercontent.com/google/timesketch/master/timesketch/frontend-ng/dist/timesketch-color.png
appVersion: "latest"
annotations:
  category: Security
  licenses: Apache-2.0
