trusted_certs: FRONTEND_TRUSTED_CERTIFICATES
server: "FLEETSPEAK_FRONTEND_ADDRESS:FLEETSPEAK_FRONTEND_PORT"
client_label: ""
registry_handler: <
  configuration_key: "HKEY_LOCAL_MACHINE\\SOFTWARE\\FleetspeakClient"
>
streaming: true
