apiVersion: v2
name: osdfir-infrastructure
version: 2.7.5
description: A Helm chart for Open Source Digital Forensics Kubernetes deployments.
keywords:
- timesketch
- yeti
- dfir
- analysis
- processing
- security
home: "https://github.com/google/osdfir-infrastructure"
dependencies:
- condition: global.timesketch.enabled
  name: timesketch
  repository: file://charts/timesketch
  version: 2.4.3
- condition: global.yeti.enabled
  name: yeti
  repository: file://charts/yeti
  version: 2.2.5
- condition: global.openrelik.enabled
  name: openrelik
  repository: file://charts/openrelik
  version: 2.2.7
- condition: global.grr.enabled
  name: grr
  repository: file://charts/grr
  version: 2.3.1
- condition: global.hashr.enabled
  name: hashr
  repository: file://charts/hashr
  version: 2.0.1
maintainers:
  - name: Open Source DFIR
    email: osdfir-maintainers@googlegroups.com
    url: https://github.com/google/osdfir-infrastructure
sources:
- https://github.com/google/grr
- https://github.com/google/osdfir-infrastructure
- https://github.com/google/timesketch
- https://github.com/yeti-platform/yeti
- https://openrelik.org/
annotations:
  category: Security
  licenses: Apache-2.0
