apiVersion: v2
name: osdfir-infrastructure
version: 2.0.0
description: A Helm chart for Open Source Digital Forensics Kubernetes deployments.
keywords:
- timesketch
- yeti
- dfir
- analysis
- processing
- security
home: "https://github.com/google/osdfir-infrastructure"
dependencies:
- condition: global.timesketch.enabled
  name: timesketch
  repository: file://charts/timesketch
  version: 2.0.0
- condition: global.yeti.enabled
  name: yeti
  repository: file://charts/yeti
  version: 2.0.0
maintainers:
  - name: Open Source DFIR
    email: osdfir-maintainers@googlegroups.com
    url: https://github.com/google/osdfir-infrastructure
sources:
- https://github.com/google/osdfir-infrastructure
- https://github.com/google/timesketch
- https://github.com/yeti-platform/yeti
annotations:
  category: Security
  licenses: Apache-2.0
