## OSDFIR Infrastructure Helm Chart
## Please use this Helm chart for deploying Open Source Digital Forensics Tools
## to a Kubernetes environment.
## The following tools are supported in this deployment:
## - Timesketch; ref https://github.com/google/timesketch
## - Yeti; ref https://github.com/yeti-platform/yeti
## - OpenRelik; ref https://github.com/openrelik
## - GRR; ref https://github.com/google/grr
##
## @section Global parameters
## Please, note that this will override the parameters configured to use the global value
##
global:
  ## Global Persistence Configuration
  ##
  timesketch:
    ## @param global.timesketch.enabled Enables the Timesketch deployment (only used in the main OSDFIR Infrastructure Helm chart)
    ##
    enabled: true
  yeti:
    ## @param global.yeti.enabled Enables the Yeti deployment (only used in the main OSDFIR Infrastructure Helm chart)
    ##
    enabled: true
    ## @param global.yeti.apiKeySecret Existing secret containing Yeti API Key.
    ## Please ensure that the Secret has been created then re-deploy the Helm chart when integrating Yeti with Timesketch
    ## (e.g. kubectl create secret generic yeti-api-secret --from-literal=yeti-api=${YETI_API_KEY})
    ##
    apiKeySecret: ""
  openrelik:
    ## @param global.openrelik.enabled Enables the OpenRelik deployment (only used in the main OSDFIR Infrastructure Helm chart)
    ##
    enabled: true
  grr:
    ## @param global.grr.enabled Enables the GRR deployment (only used in the main OSDFIR Infrastructure Helm chart)
    ##
    enabled: false
  hashr:
    ## @param global.hashr.enabled Enables the HashR deployment (only used in the main OSDFIR Infrastructure Helm chart)
    ##
    enabled: true
  ## Global ingress parameters used to configure Timesketch, Yeti under a loadbalancer
  ##
  ingress:
    ## @param global.ingress.enabled Enable the global loadbalancer for external access (only used in the main OSDFIR Infrastructure Helm chart)
    ##
    enabled: false
    ## @param global.ingress.overrideIngressName Override the default loadbalancer name in case of multiple deployments
    ##
    overrideIngressName: ""
    ## @param global.ingress.timesketchHost Domain name Timesketch will be hosted under
    ##
    timesketchHost: ""
    ## @param global.ingress.yetiHost Domain name Yeti will be hosted under
    ##
    yetiHost: ""
    ## @param global.ingress.openRelikFrontendHost FQDN of the OpenRelik UI will be hosted under (defaults to localhost)
    ##
    openRelikFrontendHost: ""
    ## @param global.ingress.openRelikAPIHost FQDN of the OpenRelik API host will be hosted under (defaults to localhost)
    ##
    openRelikAPIHost: ""
    ## @param global.ingress.className IngressClass that will be be used to implement the Ingress
    ## ref https://kubernetes.io/docs/concepts/services-networking/ingress-controllers/
    ##
    className: ""
    ## @param global.ingress.selfSigned Create a TLS secret for this ingress record using self-signed certificates generated by Helm
    ##
    selfSigned: false
    ## @param global.ingress.certManager Add the corresponding annotations for cert-manager integration
    ##
    certManager: false
    ## GCP ingress configuration
    ##
    gcp:
      ## @param global.ingress.gcp.managedCertificates Enable automatic creation of GCP managed certificates for your domain
      ## ref https://cloud.google.com/load-balancing/docs/ssl-certificates/google-managed-certs
      ##
      managedCertificates: false
      ## @param global.ingress.gcp.existingManagedCertificates Specify an existing GCP certificate name
      ##
      existingManagedCertificates: ""
      ## @param global.ingress.gcp.staticIPName Name of the static IP address you reserved in GCP
      ## This is required when using "gce" in ingress.className
      ## ref https://cloud.google.com/compute/docs/ip-addresses/reserve-static-external-ip-address
      ##
      staticIPName: ""
      ## @param global.ingress.gcp.staticIPV6Name Name of the static IPV6 address you reserved in GCP. This can be optionally provided to deploy a loadbalancer with an IPV6 address
      ## ref https://cloud.google.com/compute/docs/ip-addresses/reserve-static-external-ip-address
      ##
      staticIPV6Name: ""
