name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  release:
    if: github.repository == 'google/osdfir-infrastructure'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3
      
      - name: Add Helm Dependencies
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add opensearch https://opensearch-project.github.io/helm-charts/
          helm repo add osdfir-charts https://google.github.io/osdfir-infrastructure/
          helm repo add kube-prometheus https://prometheus-community.github.io/helm-charts

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.5.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: true
          CR_GENERATE_RELEASE_NOTES: true